body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0% !important;
    padding: 0% !important;

  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    /* background: linear-gradient(132deg, #adadad, #112253, #ffffff);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite; */
    position: static;
    background-color: #000;
    background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
    background-size: cover, 100% 3px;

    height: 100% ;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color :rgb(18, 18, 18) ;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
   background: #EFEEF5;
    text-decoration: none;
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #021e46;
    opacity: .8;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
    position: absolute;
    left: 2px;
    bottom: 0.5px;
    font-family: 'Rampart One', cursive;
  }
  
  .header-content{
    margin-top:400px;
    text-align: center;
    color:  #EFEEF5;
  }

  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .header-content button{
    width: 140px;
    margin:30px 20px;
    color: #000000;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }

  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  /*scrolll*/

  .contenedor-no-pricipal {
    text-align: center;
     padding-top: 1260px ;
     width: 100%;
  }
 .video-sanjavier{
      border-radius: 10px;
    
  }


  .logo-big {
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    width: 200px;
    background: #EFEEF5;
    transform: rotate(-30deg);    
    height: 200px;
    background: #EFEEF5;
    transform: rotate(-30deg);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition-property: all;
    transition-duration: 2s;    
    
  }
  
  .logo-big span {
    color: #121212;
    font-size: 10em;
    font-weight: bold;
    position: absolute;
    left: 50px;
    top: -30px;
    font-family: 'Rampart One', cursive;


  }
  .logo-big:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }


.titulo-turis {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 35px;
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
    color: #FFFFFF;
    font-weight: 400;
    text-shadow: 1px 1px 14px rgba(255, 255, 255, 0.479);
    padding-bottom : 50px; 
    transition-property: all;
    transition-duration: 1.5s;
    background: rgba(0, 0, 0, 0.096) ;
    width: 700px;
    height: 50px;
    margin: auto;
    padding-top:10px ;
    border-radius: 15px;

}
.titulo-turis:hover {
  text-shadow: 1px -2px 29px rgba(255,255,255,1);
  background: rgba(71, 71, 71, 0) ;


}


.border-negro {
    background: rgba(0, 0, 0, 0.027);
    width: 65%;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    text-align-last: center; text-align: justify;
    transition-property: all ;
    transition-duration: 2s;

}
.border-negro:hover 
 {
  background: rgba(0, 0, 0, 0.507);
  transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
  
}


.parrafo-histori {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 19px;
  letter-spacing: -0.8px;
  word-spacing: -0.6px;
  color: #ffffff;
  font-weight:normal;

}


.imagesDeTurismo {
    border-radius: 10px;
    width: 98%;
}

.title-turis {
font-family: Tahoma, Geneva, sans-serif;
font-size: 26px;
letter-spacing: -0.8px;
word-spacing: -0.6px;
color: floralwhite;
text-shadow: -3px -1px 27px rgba(255,255,255,1);


}

/*---footer--*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

    .columm-2 {
      column-count: 2;
-webkit-column-count: 2;
-moz-column-count: 2;
column-gap: 15px;
-webkit-column-gap: 15px;
-moz-column-gap: 15px;
-webkit-column-rule: 2px solid #ffffff23;

    }

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.container-fluid {
  padding: 0 !important;
}

.sobbrallado {
  border: 1px solid white;
  margin-left:400px ;
  margin-right: 400px;
}

.video-sanjavier {
  padding-top:  6px ;
}
@media only screen and (max-width: 420px) {
  .imagesDeTurismo {
    border-radius: 5px;
  }
  .background{
    height: 10000px !important; 


  }
}
@media only screen and (max-width: 768px) {
  .columm-2 {
    column-count: 1;
-webkit-column-count: 1;
-moz-column-count: 1;
  }
  .border-negro {
      width: 90%;
  }
}
@media only screen and (max-width: 1068px) {

  .border-negro {
    width:90% ;

  }
}
 

@media only screen and (max-width: 505px) {
  .border-negro {
    background: rgba(255, 127, 80, 0);
    width: 99%;
    }
  .video-sanjavier {
    width: 100%;
  }
  .logo {
    font: 0/0 a;
    text-shadow: transparent;
    color: transparent;
    text-decoration: none;
    background: none;
  }nav ul li a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    
  }
  nav{
    width: 100%;
    height: 5px;
     margin:0 auto;

  }
  nav ul li {
    width: 100% ;
    height: 25px;
    background: rgba(0, 255, 21, 0.623);
    border: 1px black solid;    
    border-radius: 5px;

  }
  nav ul {
    display:flex;
    flex-direction : column ; 
    padding: 0;
    text-align: center;
    border: 2px black solid;    
  }
  nav ul li:hover a {
    color: white;
    text-shadow: -1px 0px 40px rgb(255, 255, 255);
    font-weight: 900;


  }

  nav ul li:hover {
    padding: 0;
    background: rgba(0, 0, 0, 0.39);
    margin: 0;
    
  }
  .background {
    height: 8000px;
  }
  .header-content h1 {
    font-size: 30px ; 
    }
    .container-fluid .text-video {
      font-size: 19px;
    }
    .sobbrallado {
      margin-left:10% ;
      margin-right: 10%;
    }
    .columm-2 {
      column-count: 1;
-webkit-column-count: 1;
-moz-column-count: 1;
    } 
    
.contenedor-Anti-Youtube {
  width: 100%;
  height: 240px !important;
}
.border-negro {
  background: rgba(255, 255, 255, 0);
}
.border-negro:hover {
  transform: scale(1) ;
-webkit-transform: scale(1) ;
-moz-transform: scale(1) ;
}
    iframe{
    width: 100%;
    height: 300px;
    }

    }
    button {
      transition-property:background;
      transition-duration: 1s;
    }


    button:hover {
      background:rgba(0, 0, 0, 0.781);
      color: white;
      -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    }

    .contenido-p {
      padding-left: 5%;
      padding-right: 5%;

    }

    iframe {
      border-radius: 15px;
      padding: 10px;
    }

    /* .Img-Saltada {

position: absolute;
transform: scale(.7) ;
-webkit-transform: scale(.7) ;
-moz-transform: scale(.7) ;
left: 0;
top: 0;
right: 0;
bottom: 0;
margin:auto ;
z-index: 10;
    } 


    .body-scrolls {
      overflow: hidden; 
    }

     .body-scrolls {
      width: 100%;
      height: 100%;
      background-color: #c91e1ebe;
      z-index: 10;
    } */



    .container-fluid .text-video {
      color : #000000;
      font-size: 35px;
      background: #EFEEF5;
      margin-top: 30px;
      font-weight: bold;
      width: 200px;
      margin: 0 auto;
      border-radius: 10px;
      padding: 2px;
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      transition-property: all;
      transition-duration: 1.2s;
      cursor: pointer;
      text-decoration: none ; 
    }
    
    .text-video {
      margin:80px ;
}
.container-fluid .text-video:hover {
  color : #ffffff;
  background: #060607;

}

/*  */

.contenedor-Anti-Youtube {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 690px;
  
}
