body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0% !important;
    padding: 0% !important;

  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #00233f, #112253, #e5ff0070);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: static;
    height: 100% ;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #591BC5;;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
   background: #EFEEF5;
    text-decoration: none;
    transform: skew(15deg);
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #021e46;
    opacity: .8;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
    position: absolute;
    left: 2px;
    bottom: 0.5px;
  }
  
  .header-content{
    margin-top:430px;
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .header-content button{
    width: 140px;
    margin:30px 20px;
    color: #000000;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }

  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  /*scrolll*/

  .contenedor-no-pricipal {
    text-align: center;
     padding-top: 1260px ;
     width: 100%;
  }
 .video-sanjavier{
      border-radius: 10px;
    
  }
  .container-fluid .text-video {
      color : 000000;
      font-size: 40px;
    background: #EFEEF5;
      margin-top: 30px;
      font-weight: bold;
      width: 200px;
      margin: 0 auto;
      border-radius: 10px;
      padding: 5px;
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      transition-property: all;
      transition-duration: 1.2s;
      cursor: pointer;
    

  }
  .container-fluid .text-video:hover {
      color : #ffffff;
      background: #060607;

  }

  .logo-big {
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    width: 200px;
    background: #EFEEF5;
    transform: rotate(-30deg);    
    height: 200px;
    background: #EFEEF5;
    transform: rotate(-30deg);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition-property: all;
    transition-duration: 2s;
    
  }
  
  .logo-big span {
    color: #0d224e;
    font-size: 10em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
    position: absolute;
    left: 60px;
    bottom: 1px;

  }
  .logo-big:hover {
    -moz-transform: scale(1.1) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
transform: scale(1.1) rotate(360deg);

  }


.titulo-turis {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 35px;
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: underline solid rgb(255, 255, 255);
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}


.border-negro {
    background: rgba(0, 0, 0, 0.027);
    width: 65%;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    text-align-last: center; text-align: justify;
    transition-property: all ;
    transition-duration: 2s;

}
.border-negro:hover 
 {
  background: rgba(0, 0, 0, 0.336);
  
}


.parrafo-histori {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 19px;
  letter-spacing: -0.8px;
  word-spacing: -0.6px;
  color: #ffffff;
  font-weight:normal;

}


.img-foto-historia {
    border-radius: 10px;
    width: 98%;
}

.title-turis {
font-family: Tahoma, Geneva, sans-serif;
font-size: 26px;
letter-spacing: -0.8px;
word-spacing: -0.6px;
color: #5d90ff;
}

/*---footer--*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

    .columm-2 {
      column-count: 2;
-webkit-column-count: 2;
-moz-column-count: 2;
column-gap: 15px;
-webkit-column-gap: 15px;
-moz-column-gap: 15px;
-webkit-column-rule: 2px solid #ffffff49;

    }

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.container-fluid {
  padding: 0 !important;
}

.sobbrallado {
  border: 1px solid white;
  margin-left:400px ;
  margin-right: 400px;
}

.video-sanjavier {
  padding-top:  6px ;
}


@media only screen and (max-width: 505px) {
  .border-negro {
    background: rgba(255, 127, 80, 0);
    width: 99%;
    }
  .video-sanjavier {
    width: 100%;
  }
  .logo {
    font: 0/0 a;
    text-shadow: transparent;
    color: transparent;
    text-decoration: none;
    background: none;
  }
  nav {
    margin: 40px 90px 0 50px;
  }

  .background {
    height: 7100px;
  }
  .header-content h1 {
    font-size: 30px ; 
    }
    .container-fluid .text-video {
      font-size: 19px;
    }
    .sobbrallado {
      margin-left:10% ;
      margin-right: 10%;
    }
    .columm-2 {
      column-count: 1;
-webkit-column-count: 1;
-moz-column-count: 1;
    } 

    }
    button {
      transition-property:background;
      transition-duration: 1s;
    }


    button:hover {
      background:rgba(0, 0, 0, 0.781);
      color: white;
      -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    }

    .contenido-p {
      padding-left: 5%;
      padding-right: 5%;

    }